.Nav {
    display: flex;
    justify-content: center;
    gap: 4rem;
    align-items: center;
    padding: 1rem;
    height: 3rem;
    background-color: #f79d65;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
    font-size: 25px; /* adjust this value to your liking */
}

.Nav a {
    color: #fff;
    text-decoration: none;
}

.Nav li {
    list-style: none;
}

.Nav a:hover {
    color: #5d56e1;
}

